## Import

In [5]:
pip install tweepy -q

Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
import tweepy
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")

In [7]:
consumer_key ='EkrBwVY3Jn2TdfIDygjttR84Y'
consumer_secret ='hQsQT7ZRA6Yd1p0abX7ejqAFWFsag0u8sRiI21Qc4SGu1LMnpV'
access_token = '1460169994105458690-Lh1rkKQiF1kG0OPCr6zzJRcMORNvPK'
access_toket_secret ='dthv0VjETULWn9AR91dMCmorqMndZBldiabpBp3rCE59j'

In [8]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_toket_secret)
api = tweepy.API(auth)

## Data

In [9]:
data = pd.read_csv('../Projefinal/companies_Data_world_With_tweets_merged.csv')

In [10]:
# Basic stats
print("Number of rows : {}".format(data.shape[0]))
print()

print("Basics statistics: ")
data_desc = data.describe(include='all')
display(data_desc)
print()

print("Percentage of missing values: ")
display((100*data.isnull().sum()/data.shape[0]).sort_values(ascending=False))

Number of rows : 43087

Basics statistics:

          Unnamed: 0 organization_name                          twitter
count   43087.000000             43087                            43087
unique           NaN             39284                            41473
top              NaN             Karma  https://twitter.com/_KarmaTeam_
freq             NaN                48                                8
mean    33169.954650               NaN                              NaN
std     18960.509897               NaN                              NaN
min         2.000000               NaN                              NaN
25%     16660.500000               NaN                              NaN
50%     33132.000000               NaN                              NaN
75%     49676.500000               NaN                              NaN
max     65841.000000               NaN                              NaN

Percentage of missing values:

twitter              0.0
organization_name    0.0
Unnamed: 0           0.0
dtype: float64

In [11]:
data['twitter_clean'] = data['twitter'].str.replace('https://twitter.com/', '')
data['twitter_clean'] = data['twitter_clean'].str.replace('https://www.twitter.com/', '')
data['twitter_clean'] = data['twitter_clean'].str.replace('http://twitter.com/', '')
data['twitter_clean'] = data['twitter_clean'].str.replace('http://www.twitter.com/', '')
data['twitter_clean'] = data['twitter_clean'].str.replace('/', '')

In [12]:
data.describe()

         Unnamed: 0
count  43087.000000
mean   33169.954650
std    18960.509897
min        2.000000
25%    16660.500000
50%    33132.000000
75%    49676.500000
max    65841.000000

## 1st Scraping

In [ ]:
#new data frame to stock tweets
print('Creating dftweets')
new_columns = ['Twitter_Account', 'Tweeted']
dftweets = pd.DataFrame(columns = new_columns)
print('dftweets created')

In [ ]:
#new data frame to stock errors
print('Creating dferrors')
new_column = ['Twitter_Account']
dferrors = pd.DataFrame(columns = new_column)
print('dferrors created')

In [ ]:
number_of_tweet = 3

# Scraping

print('Scrap twitter')
for i in data['twitter_clean']:
    try:
        for j in tweepy.Cursor(api.user_timeline, screen_name=str(i), tweet_mode='extended').items(number_of_tweet):
            dftweets= dftweets.append({'Twitter_Account':i,'Tweeted':j.full_text}, ignore_index=True)

    except:
        dferrors = dferrors.append({'Twitter_Account':i},ignore_index=True)
        
        continue
        
print('Finally fucking finished !!!! ')

In [ ]:
dftweets.describe()

In [ ]:
dferrors.describe()

## To CSV

In [ ]:
dftweets.to_csv('dftweets.csv', index = False)

In [ ]:
dferrors.to_csv('dferrors.csv', index= False)

## 2nd Scraping (On Missing/Errors company)

In [ ]:
errorsdata=pd.read_csv('dferrors.csv')

In [ ]:
errorsdata.drop_duplicates(subset = 'Twitter_Account')

In [ ]:
dftweets=pd.read_csv('dftweets.csv')

In [ ]:
number_of_tweet = 3

# Scraping

print('Scrap twitter')
for i in errorsdata['Twitter_Account']:
    try:
        for j in tweepy.Cursor(api.user_timeline, screen_name=str(i), tweet_mode='extended').items(number_of_tweet):
            dftweets= dftweets.append({'Twitter_Account':i,'Tweeted':j.full_text}, ignore_index=True)

    except:
        errorsdata = errorsdata.append({'Twitter_Account':i},ignore_index=True)
        
        continue
        
print('Finally fucking finished !!!! ')

In [ ]:
dftweets.describe()

In [ ]:
errorsdata.describe()

## 3rd Scraping (Companies with stock values)

In [13]:
companies = pd.read_csv('finance_with_twittertag_notnull.csv')

In [14]:
# Basic stats
print("Number of rows : {}".format(companies.shape[0]))
print()

print("Basics statistics: ")
companies_desc = companies.describe(include='all')
display(companies_desc)
print()

print("Percentage of missing values: ")
display((100*companies.isnull().sum()/companies.shape[0]).sort_values(ascending=False))

Number of rows : 610

Basics statistics:

        Unnamed: 0   name organization_name                    twitter
count   610.000000    610               610                        610
unique         NaN    588               588                        606
top            NaN  SHIFT             SHIFT  http://twitter.com/search
freq           NaN      4                 4                          3
mean    418.968852    NaN               NaN                        NaN
std     242.234367    NaN               NaN                        NaN
min       0.000000    NaN               NaN                        NaN
25%     210.250000    NaN               NaN                        NaN
50%     417.500000    NaN               NaN                        NaN
75%     625.750000    NaN               NaN                        NaN
max     842.000000    NaN               NaN                        NaN

Percentage of missing values:

twitter              0.0
organization_name    0.0
name                 0.0
Unnamed: 0           0.0
dtype: float64

In [15]:
companies['twitter_clean'] = companies['twitter'].str.replace('https://twitter.com/', '')
companies['twitter_clean'] = companies['twitter_clean'].str.replace('https://www.twitter.com/', '')
companies['twitter_clean'] = companies['twitter_clean'].str.replace('http://twitter.com/', '')
companies['twitter_clean'] = companies['twitter_clean'].str.replace('http://www.twitter.com/', '')
companies['twitter_clean'] = companies['twitter_clean'].str.replace('/', '')

In [16]:
companies['twitter_clean'].describe()

count        610
unique       604
top       search
freq           3
Name: twitter_clean, dtype: object

In [17]:
companies.drop_duplicates(subset = 'twitter_clean')

,Unnamed: 0,name,organization_name,twitter,twitter_clean
0,0,21viaNet,21viaNet,https://twitter.com/21vnet,21vnet
1,2,2U Inc.,2U Inc.,http://twitter.com/2uinc,2uinc
2,3,3D Systems,3D Systems,https://twitter.com/3dsystems,3dsystems
3,4,6D Global Technologies,6D Global Technologies,https://twitter.com/6dglobal,6dglobal
4,5,A10 Networks,A10 Networks,http://twitter.com/A10Networks,A10Networks
...,...,...,...,...,...
605,836,Williams-Sonoma,Williams-Sonoma,http://twitter.com/WilliamsSonoma,WilliamsSonoma
606,838,Wix,Wix,https://twitter.com/wix,wix
607,839,Workday,Workday,http://twitter.com/Workday,Workday
608,841,CareDx,CareDx,http://twitter.com/AlloMap1,AlloMap1
609,842,Xencor,Xencor,http://twitter.com/xencor,xencor

In [18]:
companies.drop(['Unnamed: 0'], axis=1, inplace=True)

In [19]:
#new data frame to stock tweets
print('Creating dftweets')
new_columns = ['Twitter_Account', 'Tweeted']
datatweets = pd.DataFrame(columns = new_columns)
print('dftweets created')

Creating dftweets
dftweets created

In [20]:
#new data frame to stock finance companies errors
print('Creating dferrors')
new_column = ['Twitter_Account']
finance_errors = pd.DataFrame(columns = new_column)
print('dferrors created')

Creating dferrors
dferrors created

In [21]:
number_of_tweet = 5

# Scraping

print('Scrap twitter')
for i in companies['twitter_clean']:
    try:
        for j in tweepy.Cursor(api.user_timeline, screen_name=i, tweet_mode='extended').items(number_of_tweet):
            datatweets= datatweets.append({'Twitter_Account':i,'Tweeted':j.full_text}, ignore_index=True)

    except:
        finance_errors = finance_errors.append({'Twitter_Account':i},ignore_index=True)
        
        continue
        
print('Scraping ended !')

Scrap twitter
Scraping ended !

In [22]:
datatweets.describe()

       Twitter_Account                                            Tweeted
count             2602                                               2602
unique             523                                               2576
top          Rackspace  We're proud to support @WelcomingAll with its ...
freq                10                                                  2

In [23]:
datatweets.drop_duplicates(subset='Tweeted')

     Twitter_Account                                            Tweeted
0             21vnet  "IBM Partnered with 21Vianet to Expand Bluemix...
1             21vnet  "Service Provision to Multi-National Companys(...
2             21vnet         OEaaS https://t.co/rOGPrxjSlx via @YouTube
3             21vnet                            https://t.co/buV9KuU4PP
4             21vnet  21Vianet is the largest carrier-neutral intern...
...              ...                                                ...
2597        AlloMap1  The latest on the DART trial and AlloSure in k...
2598        AlloMap1  Getting ready to celebrate those that gave the...
2599          xencor                       Just getting the feel of WSJ
2600          xencor  Relishing filter coffee as I watch Karl and Su...
2601          xencor  My first tweet is now being updated...through ...

[2576 rows x 2 columns]

## To CSV

In [24]:
datatweets.to_csv('datatweets.csv', index = False)

In [34]:
finance_errors.to_csv('finance_errors.csv', index= False)